*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    box-sizing: border-box;
}
body{

    background-color: black;
    color: white;
}
.main_img{

    width: 90%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/header-image.png");
   background-size: cover;
    background-position: center;
    padding: 80px 30px;
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 25px;
    
    
    flex-wrap: wrap;
   
}
nav{
display: flex;
align-items: center;
justify-content:space-between ;
padding: 10px 0;


}
.logo{

    width:150px;
    cursor: pointer;
    margin-left: 60px;
    padding-top: 20px;
}
nav button{
 border:0;
 outline: 0;
 background:#db0001;
 color: #fff;
 padding: 7px 20px;
 font-size: 12px;
 border-radius: 4px;
 margin-left: 10px;
 cursor: pointer;



}
btn{

    margin-right: 50px;
}
.language_btn{
    display:inline-flex;
    align-items: center;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 7px 10px;
   
}
.language_btn img{

    width: 10px;
    margin-left: 7px;
}
.heading_main{

    position: absolute;
    margin-top: 60px;
   margin-left: 80px;
    margin-top: 100px;
   
}
.heading_main h1{

    font-size: 3.5rem;
    font-weight: 700;
    color: rgba(255,255,255,1);
    display: block;
    
}
.heading_main h3{

    font-size: 1.5rem;
    font-weight: 500;
}
.heading_main h4{
    font-size: 20px;
    font-weight: 400;
}
.email_signup{

border-radius: 4px;
display: flex;
align-items: center;
margin-top: 20px;
overflow: hidden;
margin-left: 10px;
}
.email_signup input{
    flex:1;
    padding: 25px;
    border-color: #fff;
    border: 1;
    border-radius: 10px;
    outline: 0;
    width: 40px;
    height:20px;
    
    margin-right: 20px;
    background: transparent;
}
.email_signup button{

background: #db0001;
border:0;
outline:0;
color:#fff;
font-size: 16px;
cursor: pointer;
padding: 15px;
width: 143px;
height: 80px;

}
---------------------features------------------
.features{

    padding: 50px 12%;
    
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}
.text_col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.text_img{

    flex-basis: 50%;
    margin-bottom: 20px;
}
.text_img img{

    display: block;
    width: 90%;
    margin: auto;
}
.text_col h2{

    margin-left: 30px;
    font-size: 2.5rem;
    font-weight: 600;
}
.text_col p{
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}
.spacing{
    border-bottom: 8px solid rgba(255,255,255,0.1);
    width: 100%;
}


-------------------faq-----------------------
.faq{

    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-weight: 500;
    font-size: 40px;
    margin-left: 10%;
}

.faq_order{

    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.faq_order li{

    list-style: none;
    width: 100%;
    padding: 5px;
}
.faq_order li label{

display: flex;
align-items: center;
padding: 20px;
font-size: 18px;
font-weight: 500;
background: #303030;
cursor: pointer;
position: relative;


}
label::after{

content:'+';
font-size: 34px;
position: absolute;
right: 20px;

}
input[type="radio"]{

    display: none;
}
.faq small{

    margin-left: 21%;
    font-size: 23px;
}
.faq  .email_signup{

    max-width: 600px;
    margin-left: 260px;
}
-------------footer---------------

.footer{
    padding: 50px 10% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer h4{
    font-size: 18px;
    font-weight: 400;
    margin-top: 80px;
    margin-left: 280px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}


@media(max-width:1450px){

.heading_main h1{
    font-size: 3rem;
}

.email_signup input{

    width: 35px;
    height: 15px;
}
.heading_main h3{
    font-size: 1.2rem;
}
.email_signup button{

    width: 130px;
     height: 40px;

}

}


@media(max-width:950px){

.logo{

    width: 100px;
    height: 40px;
}
.form{

    display: block;
}
.heading_main h1{

    font-size: 2rem;
}
.heading_main h3{
    font-size: .9rem;
}
.heading_main h4{
    font-size: 15px;
    font-weight: 400;
}
.email_signup input{

    width: 30px;
    height: 12px;
    margin-right: 10px;
}
.email_signup button{

    width: 100px;
     height: 40px;
     padding-bottom: 20px;
     font-size: 12px;

}
.row{

    display: block;
    align-items: center;
}
.text_col h2{

    margin-left: 30px;
    font-size: 1.8rem;
    font-weight: 400;
}
.text_col p{
    margin-left: 30px;
    font-size: 15px;
    font-weight: 600;
}
.footer .col {

    display: flex;
   margin: 1px 1px 1px 1px;
}
.faq small{

    margin-left: 15%;
    font-size: 20px;
}
.footer h4{
    font-size: 23px;
    font-weight: 400;
    margin-top: 80px;
    margin-left: 100px;
}
.footer .col a{
    margin-left: 15px;
    margin-top: 5px;
}



}
@media(max-width: 550px){

    .logo{

        width: 95px;
        height: 32px;
    }
    .form{


      justify-content: center;
    }
    .heading_main h1{

        font-size: 1.5rem;
        margin-right: 50px;
    }
    .heading_main h3{
        font-size: .8rem;
        margin-right: 40px;
    }
    .heading_main h4{
        font-size: 14px;
        font-weight: 400;
        margin-right: 40px;
    }
    .main_img{
          
        width: 400px;
        margin-right: 10px;
    
    }
    .navbar{
        margin: 0;
    }
    .language_btn{

        width: 50px;
        height: 30px;
        
    }
    .email_signup input{

        width: 50px;
        height: 12px;
        margin-right: 40px;

    }
    .email_signup button{
    
        width: 70px;
         height: 40px;
         padding: 10px;
         font-size: 10px;
         margin-right: 30px;
    
    }
    .sign_in{

        width: 50px;
        height: 32px;
        padding: 10px;
        margin-top: 20px;
        text-align: center;
        font-size: .6rem;
       
    }
    .nav button{
          font-size: 8px;
          margin-top: 10px;
          

    }
    .language_btn img{


        display: none;
        font-size: .5rem;
    }
    .email_signup{

        margin-right: 50px;
    }
    .footer h4{
        font-size: 18px;
        font-weight: 400;
        margin-top: 80px;
        margin-left: 100px;
    }
    .footer .col {

        display: flex;
    
    }
    .footer .row{
        margin: 1 1 1 1;
    }
    
    .footer .col a{
        margin-left: 15px;
        margin-top: 5px;
    }
    .faq small{

        margin-left: 15%;
        font-size: 13px;
    }
    .faq form input{

        height: 15px;
        width: 100px;

    

    }
    .faq form button{

        margin-right: 30px;

    }
    .faq form{
        justify-content: center;
       
    }

}





